body{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(56, 56, 50));
    background-repeat: no-repeat;
    height: 980px;
    

}
button{
    margin-left: 9%;
    background-color: rgba(0, 0, 216, 0.171);
    border-radius: 30px;
    padding: 1em;
    color: white;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    width: 300px;
}
p{ 
    font-size: 29px;
    margin-left: 0.5%;
    text-align: justify;

}
h1{
    font-size: 35px;
    margin-left: 5%;
}   
h1:hover{
    scale: 1.2;
    transition: 10s;
}

#dirh1{
    margin-left: 59%;
}
#dirp{
    margin-left: 58%;
    margin-right: 10%;
}

#esqh1{
    margin-right: 55%;
    margin-left: 9%;

}
#esqp{
    margin-left: 8%;
    margin-right: 55%;
}

#pf{
    margin-right: 55%;
    margin-left: 8%;
    opacity: 1.0;

}



img{
    animation: fotoanimacao 3s linear forwards infinite;
    position: fixed;
    bottom: 0px;
    width: 7%;
    
}

@keyframes fotoanimacao{
    to{
        transform: translate(1920px) rotate(359deg);
    }
}

@keyframes paragrafo{
    from{
        opacity: 0.0;
    }

    to{
        opacity: 1.0;
    }
}


